PORT=3000
PCPUMA_API_KEY=sk-ws-H.DHDDXDX.XjLB.MEYCIQCfJDa_sSGqBbCMjOKYNG85kjB6m4yLEODkwREfVOsEhgIhAOd2v_5KqmP8cTgLlBK7ea0CaNkK0DxvLyPF3Z7AI0e1
PCPUMA_API_HOST=ws-tq7m5b6imoeyftjn.ap-southeast-1.maas.aliyuncs.com
PCPUMA_COMPATIBLE_ENDPOINT=https://ws-tq7m5b6imoeyftjn.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1
PCPUMA_DASHSCOPE_ENDPOINT=https://ws-tq7m5b6imoeyftjn.ap-southeast-1.maas.aliyuncs.com/api/v1
DEFAULT_MODEL=qwen-plus
